/*google fonts import --- font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Asterisk wildcard*/
* {
    padding : 0;
    margin: 0;
    box-sizing:border-box
}
/*General style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*project style*/
    color: #EEEEEE;
    font-family: 'montserrat', sans-serif;

}


/*Header*/
header {
    background-color: #053b50;
    padding: 0 2rem;
    position: fixed;
    z-index: 99;
}

h1{
    font-family: 'montserrat' sans-serif;
}


/*Main*/
main {
    background-color: #176b87;
    /*Surplus space in main*/
    flex: 1 0 auto;
}




/*Footer*/
footer {
    background-color: #64ccc5;
}